<div>
  <div>
    <button (click)="setCookies()">Set cookies</button>
    <button  (click)="getCookies()">Get cookies</button>
    <button (click)="delCookies()">Delete cookies</button>
  </div>
</div>

<div>
  <button (click)="setLocalStorage()">Set local storage</button>
  <button (click)="getLocalStorage()">Get local storage</button>
  <button (click)="delLocalStorage()">Delete local storage</button>
</div>
<div>
  <button (click)="setSessionStorage()">Set session storage</button>
  <button (click)="getSessionStorage()">Get session storage</button>
  <button (click)="delSessionStorage()">Delete session storage</button>
</div>